<% if tales.any? %>
  <ul class="list-unstyled mt-2">
    <% tales.each do |tale| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(tale.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to tale.user.name, user_path(tale.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= tale.created_at %></span>
          </div>
          <div>
            <p><%= tale.content %></p>
          </div>
          <div>
            <% if current_user == tale.user %>
              <%= link_to "Delete", tale, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>