<h1>おはなし一覧</h1>

<% if @tales.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>作者</th>
      </tr>
    </thead>
    <tbody>
      <% @tales.each do |tale| %>
        <tr>
          <td><%= link_to tale.title, tale %></td>
          <td><%= link_to tale.user.name, tale.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

<% if logged_in? %>
  <%= link_to '投稿へ', new_tale_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to '投稿へ', login_path, class: "btn btn-primary" %>
<% end %>